### LOAD THE RAW DATA:

In [426]:
raw_data = open('null_ds_1.csv').readline()
raw_data[:300]

'[\'pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest\\n\', \'1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,,"St Louis, MO"\\n\', \'1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,,"Montreal, PQ / Chesterville,'

#### WHAT A MESS!

In [427]:
data = raw_data.split("\\n")
data[:5]

["['pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest",
 '\', \'1,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,,"St Louis, MO"',
 '\', \'1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,,"Montreal, PQ / Chesterville, ON"',
 '\', \'1,0,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,,,"Montreal, PQ / Chesterville, ON"',
 '\', \'1,0,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,,135,"Montreal, PQ / Chesterville, ON"']

#### GET THE COLUMNS:

In [466]:
raw_columns = data[0][3:].split('.')
columns = []

for x in raw_columns[0].split(","):
    columns.append(x)
    
columns.append(raw_columns[1])

columns

['class',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home',
 'dest']

#### CLEAN THE CONTENT:

In [429]:
content = data[1:]
contents = [x[4:-1] for x in content]
contents[0].split("\"")

['1,1,',
 'Allen, Miss. Elisabeth Walton',
 ',female,29,0,0,24160,211.3375,B5,S,2,,',
 'St Louis, MO']

#### CONTENT SEMI-SPLIT STRATEGY:

In [469]:
#STRATEGIC OUTLINE:
splitter = contents[80].split("\"")
print(splitter[0][:-1].split(","))
print([splitter[1][1:]])
print(splitter[2][1:].split(","))
print([splitter[3]])

#there should be 4 splits

['1', '0']
['avidson, Mr. Thornton']
['male', '31', '1', '0', 'F.C. 12750', '52.0000', 'B71', 'S', '', '', '']
['Montreal, PQ']

#### ANOMALIES:

In [477]:
def anomalies(data_set,length):
    anomaly_index = []
    for x,y in enumerate(data_set):
        structure_length = len(y.split("\""))
        if structure_length < length:
            anomaly_index.append(x)
    
    if len(anomaly_index) == 0:
        print('No Anomalies')
    else:
        return anomaly_index

anomalies(contents,4)

No Anomalies

In [432]:
anomaly_index = sorted(anomalies(contents,4),reverse=True)
anomaly_index

[99, 88, 73, 66, 46, 44, 28, 24, 23, 18]

<i>note the index above has been reversed so we can use a for loop to pop items without screwing up subsequent indexes

#### Since there are relatively few anomalies, I am going to delete them from contents:

In [433]:
for x in anomaly_index:
    contents.pop(x)
    
anomalies(contents,4)

No Anomalies

---

### LETS GET BACK TO THE SEMI-SPLIT STRATEGY AND FINISH UP THE CONTENTS:

In [452]:
clean_contents = []

for x in range(len(contents)):
    
    merger = []
    splitter = contents[x].split("\"")
    
    split1 = splitter[0][:-1].split(",")
    split2 = splitter[1][1:]
    split3 = splitter[2][1:].split(",")
    split4 = splitter[3]
    
    for x in split1: merger.append(x)
    merger.append(split2)
    for x in split3: merger.append(x)
    merger.append(split4)
    
    clean_contents.append(merger)
        
print(clean_contents[0])

['1', '1', 'llen, Miss. Elisabeth Walton', 'female', '29', '0', '0', '24160', '211.3375', 'B5', 'S', '2', '', '', 'St Louis, MO']

In [455]:
columns

['class',
 'survived',
 'name',
 'sex',
 'age',
 'sibsp',
 'parch',
 'ticket',
 'fare',
 'cabin',
 'embarked',
 'boat',
 'body',
 'home.dest']

### NOW WE CAN LOAD THE DATA:

In [479]:
data = pd.DataFrame(clean_contents,columns=columns)
data[:5]

,class,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home,dest
0,1,1,"llen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,2,,,"St Louis, MO"
1,1,1,"llison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,,,"Montreal, PQ / Chesterville, ON"
2,1,0,"llison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,,,,"Montreal, PQ / Chesterville, ON"
3,1,0,"llison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,,135,,"Montreal, PQ / Chesterville, ON"
4,1,0,"llison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,,,,"Montreal, PQ / Chesterville, ON"

# SUCCESS!
Incredible how python tactics took us from the glop of text at the top all the way to a neat data frame

---

### IMPORTS:

In [434]:
import csv
import numpy as np
import pandas as pd